*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
    
 body{
        font-size: 12px;
        font-family: 'roboto';
        color: #666;
}


header{
    background-color: #666;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.buger-menu{
    width: 10%;
    align-items: center;
    
}

.burger{
    background-color: #666;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    border: none; 
    align-self: center;
}

div.logo{
    width: 15%;
    margin-right: 2%;
}

div.logo img{
    width: 100%;
}

div.busqueda{
    width: 40%;
    
}

#barraB{
    width: 80%;
    height: 20px;
    border-radius: 5px;
    border: none;
    top: 0px;
    display: none; 
    
}

#barraB.active{
    display: inline-block;
}



.toggle-btn{
    background-color: #666;
    border: none;   
    color: #000;
    font-size: 90%;
    height: 40px;
    width: 10%; 
    border: none;
    cursor:pointer;
}

div.carritoCompra div.user{
    width: 8%;
    text-align: center;
}

button.carritoyUser {
        background-color: #000;
        border-radius: 5px;
        color: #fffdfd;
        font-size: 100%;
        height: 1%;
        padding: 10px;
        width: 100%; 
        border: none;
        text-align: center;
}

/*RULES DEL MAIN*/


main section.mainCategoria{
    width: 90%;
    margin: 0 auto;
    
}

main section h2{
    margin: 10% 5% 0%;
    text-align: center;
}

div.contenedorDeArticulos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


article.artProducto{
width: 40%;
background-color: darkblue;
align-items: center;
padding: 5%;
text-align: center;
border-radius: 3%;
margin: 5%;
color: white;
}


article.artProducto img{
width: 100%; 
border-radius: 3%;
height: 50%;
}

p.price{
    font-weight: bold;
     
}

div.main-article{
    margin-top: 5%;
}





